body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto auto;
  width: 100%
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left:10px;
  margin-top:10px;
  font-size: 28px;
}

.main-button {
  background: #CCC;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
}

.help {
  grid-row-start: 3;
  grid-column-start: 2;
  margin-right: 10px;
  margin-left:10px;
  margin-top: -1px;
  text-align: center;
  width: 100px;
}

.settings {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
  float: right;
  margin-left:5px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: right;
  align-content: right;
  width: 150px;
}

.testRun {
  grid-column-start: 1;
  grid-row-start: 4;
  margin-left:10px;
  margin-right: 10px;
  margin-top: 20px;
  text-align: center;
  width: 150px;
  align-self:left;
}

.settingsData{
    background: #CCC;
    border: 1px solid #999;
    font-size: 12px;
    width: 300px;
    padding:10px;
    text-align: center;
}

.testPop{
    background: #CCC;
    border: 1px solid #999;
    font-size: 12px;
    width: 300px;
    padding:10px;
}

.helpData {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 1px;
  margin-top: -1px;
  margin-left: 1px;
  padding-left: 10px;
  text-align: left;
}

.logOut {
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: end;
  float: right;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.mainscreen {
  display: flex;
  flex-direction: column;
}

.main-info {
  margin-left: 20px;
}
