@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-color: #212;
  background: white;
}

button {
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #212;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  border-radius: 3px;
}

.footer {
  margin-top: 1rem;
  padding: 0rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.info {
  margin-top: 1rem;
  padding: 0rem;
  background-color: rgb(256, 256, 256);

  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.main-screen {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto auto;
  width: 100%
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left:10px;
  margin-top:10px;
  font-size: 28px;
}

.main-button {
  background: #ccc;
  border: 1px solid #999;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2em;
  height: 2em;
  padding: 0;
}
.main-button:hover {
  background: #ddd;
}
.main-button:focus {
  outline: none;
  border: 1px solid #555;
}

.shadow {
  box-shadow: 0px 4px 8px #888;
}

.popup-box {
  background: #CCC;
  border: 1px solid #999;
  font-size: 1em;
  width: 300px;
  padding:10px;
}

.run-button {
  background: #22a465;
  border: none;
  margin-right: 10px;
  min-width: 150px;
}
.run-button:hover {
  background: #3cc281;
}
.run-button:focus {
  outline: none;
  border: 1px solid #1f774c;
}
.run-button::before {
  display: inline;
  content: "＋";
  margin-right: 5px;
}

.help {
  text-align: center;
  min-width: 100px;
}

.top-left {
  grid-column-start: 1;
  grid-row-start: 1;
}

.joined-buttons {
  display: flex;
  flex-direction: row;
}

.settings {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
  float: right;
  margin-left:5px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: right;
  align-content: right;
  width: 150px;
}
.settings-data {
  text-align: center;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.main-info {
  margin-left: 20px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #fefefe;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #2c6cbb;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr {
  font-size: 1em;
  color: #888;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555;
  background-color: #c8e3fa;
  cursor: pointer;
}

/* Clear button styles in table */
th > button {
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #212;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  border-radius: 8px;
}
th > button:hover {
  background: #3b79c5;
}
th > button:focus {
  outline: none;
}
/* Styles for sorting buttons */
th > button.ascending::after {
  content: "▲";
  display: inline;
  margin-left: 1em;
}
th > button.descending::after {
  content: "▼";
  display: inline;
  margin-left: 1em;
}
