@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 1em;
}

button {
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  background: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
}

.main-screen {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto auto;
  width: 100%
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  margin-left:10px;
  margin-top:10px;
  font-size: 28px;
}

.main-button {
  background: #CCC;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
}
.main-button:focus {
  outline: none
}

.help {
  grid-row-start: 3;
  grid-column-start: 2;
  text-align: center;
  width: 100px;
}

.settings {
  grid-column-start: 3;
  grid-row-start: 1;
  justify-self: end;
  float: right;
  margin-left:5px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: right;
  align-content: right;
  width: 150px;
}

.testRun {
  grid-column-start: 1;
  grid-row-start: 4;
  margin-top: 20px;
  text-align: center;
  width: 150px;
}

.settingsData{
  background: #CCC;
  border: 1px solid #999;
  font-size: 12px;
  width: 300px;
  padding:10px;
  text-align: center;
}

.testPop{
  background: #CCC;
  border: 1px solid #999;
  font-size: 12px;
  width: 300px;
  padding:10px;
}

.helpData {
  background: #fff;
  border: 0px solid #999;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 1px;
  margin-top: -1px;
  margin-left: 1px;
  padding-left: 10px;
  text-align: left;
}

.logOut {
  grid-column-start: 3;
  grid-row-start: 2;
  justify-self: end;
  float: right;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.main-info {
  margin-left: 20px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #2c6cbb;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #efefef;
}

tbody tr {
  font-size: 1em;
  color: #888;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555;
  background-color: #c8e3fa;
  cursor: pointer;
}

/* Clear button styles in table */
th > button {
  display: inline-block;
  border: none;
  padding: 1em;
  margin: 0;
  text-decoration: none;
  background: none;
  color: black;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out;
  border-radius: 8px;
}
th > button:hover {
  background: #3b79c5;
}
th > button:focus {
  outline: none;
}
/* Styles for sorting buttons */
th > button.ascending::after {
  content: "▲";
  display: inline;
  margin-left: 1em;
}
th > button.descending::after {
  content: "▼";
  display: inline;
  margin-left: 1em;
}
